.container2 {
	width: 100%;
	height: 100%;
	margin-top: 10rpx;
	overflow: hidden;
}

.sw {
	width: 100%;
	height: 90%;
}

.img {
	/* width: 90%; */
	height: 93%;
	margin: 20rpx auto;
}

button {
	width: 90%;
	background-color: #f0ad4e;
	color: white;
	margin: 0 auto;
	margin-top: 0rpx;
}

